openapi: 3.0.0
info:
  title: Go Moment API Reference
  description:
    The Go Moment API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer)
  version: "1.0.0"

servers:
  - url: https://ivy.gomoment.com/api/v1
    description: Production server
  - url: https://sandbox.gomoment.com/api/v1
    description: Sandbox server

paths:
  /visits:
    parameters:
      - name:
        in: header
    post:
      summary: Send visit updates to Ivy Instance
      security:
        - ApiKeyAuth: []
      requestBody:
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/VisitsArray'
          required: true
      responses:
        '200':
          description: Visit successfully created
        '401':
          description: NA
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GeneralError'
        '402':
          description: NA
          content:
            'application/json':
              schema:
                $ref: '#/components/schemas/GeneralError'


# Components
components:
  schemas:
    GeneralError:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    VisitsArray:
      type: object
      properties:
        visits:
          description: The visits array can contain one or more visits objects
          type: array
          items:
            $ref: '#/components/schemas/VisitObject'
    VisitObject:
      type: object
      required:
        - guest_name_first
        - guest_name_last
        - guest_mobile_number
        - check_in_date
        - status
      properties:
        guest_name_first:
          type: string
          example: First
        guest_name_last:
          type: string
          example: Last
        guest_mobile_number:
          type: string
          description: |
            Guest mobile number.
            This is required in order for Ivy to talk to your guests.
          example: '+18558881234'
        guest_email:
          type: string
          example: 'first.last@gomoment.com'
        room:
          type: string
          example: '1400'
        check_in_date:
          type: string
          description: Must be in YYYY-MM-DD format
          example: '2020-10-10'
        check_in_time:
          description: 'Must be in HH:MM format using a 24-hour notation'
          example: '15:00'
        check_out_date:
          type: string
          description: Must be in YYYY-MM-DD format
          example: '2020-10-15'
        check_out_time:
          type: string
          description: Must be in HH:MM format
          example: '12:00'
        opt_in_date:
          type: string
          description: |
            Date guest opted-in to marketing campaign
            Must be in YYYY-MM-DD format
          example: '2020-10-10'
        opt_in_time:
          type: string
          description: |
            Time guest opted-in to marketing campaign
            Must be in HH:MM format
          example: '15:00'
        status:
          type: string
          description: |
            Pre = Pre-Arrival (if enabled)
            CI = Check In
            CO = Check Out
            CL = Cancelled or Invalid
          enum:
            - Pre
            - CI
            - CO
            - CL
        tags:
          type: object
          $ref: '#/components/schemas/VisitTagItem'
        extra:
          type: object
          $ref: '#/components/schemas/CustomTags'


    VisitTagItem:
      type: object
      description: |
        Add or remove persistent guest tags.
        We recommend that you use the "extra" payload instead
      properties:
        add:
          type: array
          items:
            type: string
        remove:
          type: array
          items:
            type: string
    CustomTags:
      type: object
      description: |
        Allows any key, value pair to be ingested
        "CustomTag" can be any string that is mapped to a value that
        will be tagged to the guest.
        CustomTags can be either visit-only or persistent tags.
        Please speak with a customer sucess manager to enable.
      properties:
        CustomTag:
          type: string

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: API-KEY
      description: |
        API key provided by Go Moment.
        This can be found at Ivy Setup Wizard > Integrations > PMS Integration
